@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<FluentGrid>
    <FluentGridItem xs="12" sm="3" md="3" lg="3">
        <NavMenu />
    </FluentGridItem>
    <FluentGridItem xs="12" sm="9" md="9" lg="9">
        <div class="main">
            <div class="top-row px-4">
                <span>Powered by <FluentAnchor Href="http://blazor.net" Target="_blank">Blazor</FluentAnchor> and <FluentAnchor Href="https://webassembly.org/" Target="_blank">WebAssembly</FluentAnchor> (<FluentAnchor Href="https://github.com/hsaito/HSTempoWasm" Target="_blank">Code at GitHub</FluentAnchor>)</span>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </FluentGridItem>
</FluentGrid>
