@using HSTempoWasm.i10n

<div class="navbar-container">
    <FluentToolbar>
        <FluentButton Appearance="Appearance.Stealth" @onclick="ToggleNavMenu">
            ☰
        </FluentButton>
        <div style="font-weight: bold; margin-left: 12px;">HSTempoWasm</div>
    </FluentToolbar>
</div>

<div class="nav-container" style="display:@(collapseNavMenu ? "none" : "block")">
    <FluentNavMenu>
        <FluentNavLink Href="" Match="NavLinkMatch.All">
            @Messages.MENU_HOME
        </FluentNavLink>
        
        <FluentNavLink Href="help">
            @Messages.MENU_HELP
        </FluentNavLink>
        
        <FluentNavLink Href="about">
            @Messages.MENU_ABOUT
        </FluentNavLink>
    </FluentNavMenu>
</div>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
