@page "/about"
@using System.Reflection

<h1>About HSTempo</h1>

<div class="card">
    <div class="card-body">
        @programName @version by @author
        <div>
            ©2020 Hideki Saito
        </div>

        <div>
            <a href="https://www.hidekisaito.com" target="_blank">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAJ1BMVEUAAAA0SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV6HK8VzAAAADHRSTlMAByAjJGNksLLV2usWfaiwAAAAR0lEQVQYV2NgwABsAQg2Y89xATjH+8yZzXBFZ4AgAKYIxIEq9D4DBpvhiqAKIYqgCr1h7DOnJjEw8MA4BxiowzkAIynn4AIA7vxxNrzccIEAAAAASUVORK5CYII=" alt="Website" title="Website"/>
            </a>
            <a href="https://twitter.com/hideki" target="_blank">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAq1BMVEUAAAA0SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV6jJK+EAAAAOHRSTlMAAQIDBAUKDBAVHB4hKy0uOkFCQ0VGSk1PVFVZXWNkZoKSlZeYmpujrbW3vsPO0dfc3uDo7fX7/fqSCz0AAACNSURBVBgZncHZAoFAAAXQO1GRLUv2LWsRyXr//8tMM0SPnIO/CG+zagoUDcDxoBl7SqG/BjBgH8qMymVYBXpkYENKqI0BlCht65a4UjlDMkbMiSB1jnd+8yFZD+Z0kXKZYyMl3BM/Amghv5ShmTtmJsg4MbUl3gqNiNpcQBGtmC+HGjJmexHfknBawe+eUnMmRdtDuZoAAAAASUVORK5CYII=" alt="Twitter" title="Twitter"/>
            </a>
            <a href="https://github.com/hsaito/" target="_blank">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAA51BMVEUAAAA0SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV4Ogzn5AAAATHRSTlMAAQIDBAYHCAoLDhATFBcgISIkJSkqKy82ODtDR0pOUVVXW11eZ29xgIOPkZqeo6WmqKqrsLK3vMDDxcfIzs/R09na3uLk6Onx9fn9AsjzzQAAAMtJREFUGBlNwQsjwlAAhuHvdEaK5FIScilU7peS+0iT1fv/f4+zmW3Po5jZ6r+H38POsjKbXyTOPSU6ZMYrih2T97MkZx0Oiu3Z0+Xd5LlmAx6NZMawodQNtKQ60FTKh4nUg6mn1C5Q0Rv0lFkAmgrhSDnAvqbQVcYCexqBr0wVaOgE2NY/MwBKWuXjgUOrWGUIjCQNglKb+amkYkCkLqk8803rrCznBedCkQbdglHkGngtKFYLYU3OLdxbJRb786qcq88d5VhFPP35BY77LVuxMw5NAAAAAElFTkSuQmCC" alt="GitHub" title="GitHub"/>
            </a>
            <a href="https://www.reddit.com/user/unsignedint/" target="_blank">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAA5FBMVEUAAAA0SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV4NzHGjAAAAS3RSTlMAAQIDBAUHCAoRGBkaHB4gISIjKissLi84O0JESUpLTFVWV1hbXGdpa2xtb3d4eX5/goWVmJuytLe5ury+w8fIys7k5ujp6/X5+/04TCt9AAAAyElEQVQYGX3Bez/CYBjH4V+NMJacCcsh0Zxic1hFopJ93//7cTfPJ/nHdekf69f98bh/taZflTec11U5p8w4Ue6YHxnwBUcyZZyz6v6C9w6BpBecS1haHEFXKuN8RjiBInKju92d1pDchTrAQWm7KFPcKoVAqiFQ0FQBGGgAbEpxLCWxtAF8qA3cS0kiPSTSDfCsc6CnqQ7QUICpyqs3m3VPe5gVqYuJ5mXmGphU0jIT2VPr9jFjwpep8cehciEzQjl+Gyf1Zb4B1iVC5V6Woc8AAAAASUVORK5CYII=" alt="Reddit" title="Reddit"/>
            </a>
            <a href="https://news.ycombinator.com/user?id=unsignedint" target="_blank">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAk1BMVEUAAAA0SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV4AqwuzAAAAMHRSTlMAAgMFBwkKDg8QEhQYGxwiJicoO0NFZGZobImLlZigoq20t8zP0eDk6e3v8/X3+/0kTP0AAAAAe0lEQVQY06XIyQLBMABF0VdqqKDmuVTNKnr//+ssbNLEzlkeKclKHGXWlXoWj010ILCXDfMlAB7FHeBaVAB889mYABiDkyx1hK3yWr5bfar2iFqy0W6tk5eYTnOKn7miW5BEA37k8K906BLeWfMwZ9LKv4UkxenYkcbSB42fQNk7/r+hAAAAAElFTkSuQmCC" alt="Hacker News" title="Hacker News"/>
            </a>
            <a href="https://www.linkedin.com/in/hideki/" target="_blank">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAgVBMVEUAAAA0SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV7D5unVAAAAKnRSTlMAAQIEBgcICQsMDhQZHB8hIywwPENHS1JXWV1peIKFkaqttdPg6fP3+f2PmT5yAAAAdUlEQVQYV6XKSQ6CUBQF0avYYIcKgv0TO8Da/wKdaPJ5YWKs4UkpLp/Wl+sG7Dw+gJPHDVQzj5okkafuCjNLFJmZaVlWzXUt6QJkGgLkAHBs4bdFiM12tX8B5w8OAFJJB+Aenj1Jc6AOUZKmAD/j6D8ct7GrN4JWHrHCSvy+AAAAAElFTkSuQmCC" alt="LinkedIn" title="LinkedIn"/>
            </a>
            <a href="https://www.instagram.com/hsaito/" target="_blank">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAA0lBMVEUAAAA0SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV40SV4cp04wAAAARXRSTlMAAQIDBQYJDg8REhMUFRYpLDU2Nzg6Oz0+RElKS05PUFRYXGJmZ2hpfoOFjI+bnZ6jpa2wubq8wNrk5ujp6+3x8/X3+/3WC+8PAAAA5ElEQVQYV2WQ2VLCQBBFT5gxgImCK3HFmLAouIFANOAkIf3/v+TDpCCW9/F0V93uA4DXC6N4OIyjMPCxcT9FJDPGmExEFi6ASn7OdTVHn24SBfTlmF087csDsPzYM1cWvK2AIgZoT9J00nZe7oi2gNwDnTJ9fkq3HeBGHBy5Bp3PFah5ruFKGhZeSAugJT0LG3ILoTgAjjzWNi+lCdCUoAZ1MVOgZsWBhba9W36Px19lt2qv7vSm6/X0ELB3Lt/5k9cV0JejOrO/q2Rztrd0Yi1Zn7nJMpPvfAJ+EEaD0WhQM/8/v/3bICZbg6qkAAAAAElFTkSuQmCC" alt="Instagram" title="Instagram"/>
            </a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Changelog</h2>
        <h3 class="card-title">1.4.0.2 (2020-05-10)</h3>
        <ul>
            <li>Updated the library to <a href="https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-release-candidate-now-available/">3.2.0 Release Candidate 1</a></li>
        </ul>
        <h3 class="card-title">1.4.0.1 (2020-04-05)</h3>
        <ul>
            <li>Updated the library to <a href="https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-3-release-now-available/">3.2.0 Preview 3</a></li>
        </ul>
        <h3 class="card-title">1.4.0.0 (2020-02-12)</h3>
        <ul>
            <li>Updated the library to <a href="https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-1-release-now-available/">3.2.0 Preview 1</a></li>
            <li>You can now download metric file.</li>
        </ul>
        <h3 class="card-title">1.3.1.3 (2020-01-10)</h3>
        <ul>
            <li>Made the reset button turns off the audible beat.</li>
        </ul>
        <h3 class="card-title">1.3.1.2 (2020-01-03)</h3>
        <ul>
            <li>Added the test button. (Workaround for mobile.)</li>
        </ul>
        <h3 class="card-title">1.3.1.1 (2019-12-31)</h3>
        <ul>
            <li>Fixed the bug that page transition did not stop the beats.</li>
        </ul>
        <h3 class="card-title">1.3.1.0 (2019-12-31)</h3>
        <ul>
            <li>Added the audible beat feature.</li>
            <li>Added the Rebase button</li>
        </ul>
        <h3 class="card-title">1.3.0.1 (2019-12-31)</h3>
        <ul>
            <li>Made the system compatible with <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.</li>
        </ul>
        <h3 class="card-title">1.3.0.0 (2019-12-29)</h3>
        <ul>
            <li>Added the BPM averaging.</li>
            <li>Added the Stability meter.</li>
        </ul>
        <h3 class="card-title">1.2.2.1 (2019-12-28)</h3>
        <ul>
            <li>Attempt to fix issue under <a href="https://www.mozilla.org/en-US/firefox/mobile/" target="_blank">Firefox on Android</a>.</li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <p class="card-text" style="font-size: x-small;"><span style="color: red;">Warning</span>: Various factors may affect accuracy of the measurement. Do not rely on this system for mission critical applications. The HSTempoWasm developers are not responsible for any damages caused by use of this system.</p>
    </div>
</div>

@code
{
    string programName;
    string version;
    string author;

    protected override void OnInitialized()
    {
        programName = System.Reflection.Assembly.GetExecutingAssembly().GetName().Name;
        version = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString();
        author = (System.Reflection.Assembly.GetExecutingAssembly().GetCustomAttributes(typeof(AssemblyCompanyAttribute), false)[0] as AssemblyCompanyAttribute)?.Company;
        Timers.StopAll();
    }
}