@page "/help"
@using System.Reflection

<h1>Help</h1>
<div class="card">
    <div class="card-body">
        <p class="card-text"><span style="color: red;">Warning</span>: Various factors may affect accuracy of the measurement. Do not rely on this system for mission critical applications. The HSTempoWasm developers are not responsible for any damages caused by use of this system.</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">How to use</h2>
        <p class="card-text">tl;dr: Tap the <em>Beat</em> button to the subject you are measuring. Press the <em>Reset</em> button to reset.</p>

        <h3 class="card-title">The HSTempoWasm interface</h3>
        <h4 class="card-title">Buttons</h4>
        <p class="card-text">
            <ul>
                <li><em>Beat</em> button -- Press to measure beat.</li>
                <li><em>Reset</em> button -- Reset to to start new measurement.</li>
                <li><em>Audible Beat</em> -- Enables the audible beat (tick)</li> 
                <li><em>Adjust Up</em> button -- Adjust the current BPM up one, changes the <em>VBI</em> and <em>BPM Interval</em> display.</li>
                <li><em>Adjust Down</em> button -- Adjust the current BPM down one, changes the <em>VBI</em> and <em>BPM Interval</em> display.</li>
                <li><em>Rebase</em> -- Reset the beat timing without resetting the beat. (If the measured beat is not aligned with the subject, use this button.)</li>
            </ul>
        </p>
        <h4 class="card-title">Indicators and Display Elements</h4>
        <p class="card-text">Because the measurement requires two beats registered to measure an interval, most of the display below only activates after the second beat is registered. (Except for <em>Stability</em> which requires 20.)</p>
        <p class="card-text">
            <ul>
                <li><em>VBI</em> (Visual Beat Indicator) -- Displays current beat visually. <em>Adjust Up</em> and <em>Adjust Down</em> will change this interval.</li>
                <li><em>Elapsed Time</em> -- Displays second since the start of the measurement.</li>
                <li><em>Beat Count</em> -- Displays the number of beat registered.</li>
                <li><em>Average (10/15/20)</em> -- Displays 10, 15, 20 beats BPM average.</li>
                <li><em>BPM</em> -- Displays current BPM (Beats-Per-Minute).</li>
                <li><em>Stability</em> -- Displays how stable (consistent) the measurement is. Based on <em>Average (10/15/20)</em> measurements. This will only activate only after 20th measurements.</li>
                <li><em>Last</em> -- Displays milliseconds of the last measurement.</li>
                <li><em>Average</em> -- Displays average milliseconds of the measurements.</li>
                <li><em>BPM Interval</em> -- Displays milliseconds interval based on the <em>BPM</em>. <em>Adjust Up</em> and <em>Adjust Down</em> will change this interval.</li>
            </ul>
        </p>
        <h3 class="card-title">How to get the measurement</h3>
        <p class="card-text">Press the <em>Beat</em> button with the rhythm. Interval is displayed as current BPM. The <em>BPM</em> displayed is the averaged BPM over time. Therefore, more beat you register, the measurement is more stable representation of the intervals you are trying to register. Use the <em>Adjust Up</em> and <em>Adjust Down</em> buttons to fine tune measured <em>BPM</em> and compare <em>VBI</em> and audible beat (if enabled) with the subject you are trying to measure.</p>
        <h4 class="card-title">Elements that can affect accurate measurements</h4>
        <p class="card-text">There are various elements that can affect accuracy of the measurements. But here are some examples:</p>
        <p class="card-text">
            <ul>
                <li>Variance of the subject is fluctuating -- this is most prominent for live music and classical music.</li>
                <li>Clock shift in your computer -- Clock on your computer is only accurate to certain extent and can present inaccurate readings.</li>
                <li>Instable input -- It is possible your input is not consistent.</li>
            </ul>
        </p>
        <h4 class="card-title">How to get better measurements</h4>
        <p class="card-text">
            <ul>
                <li>Try multiple measurements -- see if multiple measurements are consistent.</li>
                <li>Try different part of subject -- some parts are easier to measure than others. Do not some subject may have fluctuating rhythms.</li>
            </ul>
        </p>
    </div>
</div>