@page "/help"
@using System.Reflection
@using System.Runtime.CompilerServices
@using System.Text.Encodings.Web
@using Fluxor
@using HSTempoWasm.i10n
@using HSTempoWasm.Store.AudibleBeat
@using Microsoft.AspNetCore.Components

<h1>Help</h1>
<div class="card">
    <div class="card-body">
        <p class="card-text"><span class="oi oi-warning"/> @Messages.TEXT_WARNING_ACCURACY</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <a href="@Messages.LOCATION_HELP">@Messages.TEXT_HELP_HOWTO</a>
    </div>
</div>

@code
{
    [Inject] public IDispatcher Dispatcher { get; set; }
    [Inject] private IState<AudibleState> AudibleState { get; set; }
    protected override void OnInitialized()
    {
        Timers.StopAll();
        Dispatcher.Dispatch(new ResetAudible());
    }
}