@page "/"
@using System.Timers
@inject IJSRuntime JSRuntime;

<div @onkeypress="@GetKeyPress">
    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-body">

                    <div style="padding-left: 2em">
                        <p><input type="checkbox" @bind="@vdiCheck" class="form-check-input" id="vbi"> VBI</p>
                    </div>
                    <div class="container" style="font-size: small;">
                        <div class="row">
                            <div class="col-sm">
                                Elapsed Time: @elapsedSecond
                            </div>
                            <div class="col-sm">
                                Beat Count: @currentCount
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <p>BPM: @currentBPM</p>

                    <div class="container">
                        <div class="row">
                            <button class="btn btn-outline-secondary" @onclick="AdjustUp">Adjust Up</button>
                            <button class="btn btn-outline-secondary" @onclick="AdjustDown">Adjust Down</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="container" style="font-size: small;">
                <div class="row">
                    <div class="col-sm">
                        Last: @recentTimeMs ms
                    </div>
                    <div class="col-sm">
                        Average: @averageMS ms
                    </div>
                    <div class="col-sm">
                        BPM Interval: @bpmInterval ms
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <button class="btn btn-primary" id="beatButton" style="padding-top: 1.5em; padding-bottom: 1.5em; width: 100%;" ontouch="ExecBeat" @onclick="ExecBeat">Beat</button>
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-danger" id="resetButton" style="padding-top: 1.5em; padding-bottom: 1.5em; width: 100%;" ontouch="Reset" @onclick="Reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private int currentCount = 0;
    private double currentBPM = 0;
    private int elapsedSecond = 0;

    int averageMS = 0;
    int bpmInterval = 0;

    private Timer beatTimer;

    private Timer vdiTick;
    private Timer vdiTock;

    bool vdiCheck;

    private DateTime currentTime;
    private DateTime startTime;
    private DateTime lastTime;
    private double recentTimeMs;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("setFocus", "beatButton");
        }
    }

    void GetKeyPress(KeyboardEventArgs e)
    {
        switch (e.Key)
        {
            case "r":
            case "R":
            {
                Reset();
                break;
            }

            case "b":
            case "B":
            {
                JSRuntime.InvokeVoidAsync("setFocus", "beatButton");
                break;
            }

            case "u":
            case "U":
            {
                AdjustUp();
                break;
            }

            case "d":
            case "D":
            {
                AdjustDown();
                break;
            }
        }
    }

    private void ExecBeat()
    {
        currentTime = DateTime.Now;
        var accumulatedMs = currentTime - startTime;
        currentBPM = Math.Round((currentCount / accumulatedMs.TotalMilliseconds) * 60000);
        Console.WriteLine($"{currentCount} / {accumulatedMs.TotalMilliseconds}");
        currentCount++;

        if (beatTimer == null || beatTimer.Enabled != true)
        {
            StartTimer();
        }

        if (currentCount > 1)
        {
            recentTimeMs = UpdateRecentTime().TotalMilliseconds;
            vdiTock.Enabled = false;
            vdiTick.Interval = 60000 / currentBPM;
            vdiTock.Interval = 60000 / currentBPM / 3;
            vdiTick.Enabled = true;
            bpmInterval = CalculateBPMtoMS();
            averageMS = (int) (accumulatedMs.TotalMilliseconds / currentCount);
        }
        else
        {
            vdiTick = new Timer();
            vdiTock = new Timer();
            vdiTick.Elapsed += ProcessTick;
            vdiTick.AutoReset = true;
            vdiTock.Elapsed += ProcessTock;
        }

        lastTime = currentTime;
    }

    private short CalculateBPMtoMS()
    {
        return currentBPM <= 0 ? (short) 0 : Convert.ToInt16(Math.Round(60000 / currentBPM));
    }

    private void AdjustUp()
    {
        if (beatTimer != null && beatTimer.Enabled && currentBPM > 0)
        {
            vdiTick.Enabled = false;
            vdiTock.Enabled = false;
            currentBPM++;
            vdiTick.Interval = 60000 / currentBPM;
            vdiTock.Interval = 60000 / currentBPM / 3;
            vdiTick.Enabled = true;
            bpmInterval = CalculateBPMtoMS();
        }
    }

    private void AdjustDown()
    {
        if (beatTimer != null && beatTimer.Enabled && currentBPM > 0)
        {
            vdiTick.Enabled = false;
            vdiTock.Enabled = false;
            currentBPM--;
            vdiTick.Interval = 60000 / currentBPM;
            vdiTock.Interval = 60000 / currentBPM / 3;
            vdiTick.Enabled = true;
            bpmInterval = CalculateBPMtoMS();
        }
    }

    private void ProcessTock(object sender, ElapsedEventArgs e)
    {
        vdiCheck = false;
        vdiTock.Enabled = false;
        this.StateHasChanged();
    }

    private TimeSpan UpdateRecentTime()
    {
        return currentTime - lastTime;
    }

    private void ProcessTick(object sender, ElapsedEventArgs elapsedEventArgs)
    {
        vdiCheck = true;
        this.StateHasChanged();
        vdiTock.Enabled = true;
    }

    private void Reset()
    {
        StopTimer();
        
        if (vdiTick != null)
        {
            vdiTick.Enabled = false;
            vdiTick.Close();
        }
        if (vdiTock != null)
        {
            vdiTock.Enabled = false;
            vdiTock.Close();
        }

        vdiCheck = false;

        currentCount = 0;
        averageMS = 0;
        bpmInterval = 0;
        
        JSRuntime.InvokeVoidAsync("setFocus", "beatButton");
    }

    private void StartTimer()
    {
        startTime = DateTime.Now;
        beatTimer = new Timer
        {
            Interval = 1000,
            AutoReset = true
        };
        beatTimer.Elapsed += ProcessSecond;
        beatTimer.Enabled = true;
    }

    private void ProcessSecond(object sender, ElapsedEventArgs elapsedEventArgs)
    {
        elapsedSecond++;
        this.StateHasChanged();
    }

    private void StopTimer()
    {
        if (beatTimer != null && beatTimer.Enabled)
        {
            beatTimer.Enabled = false;
            beatTimer.Stop();
            beatTimer.Close();
        }
        elapsedSecond = 0;
        currentBPM = 0;
        recentTimeMs = 0;
    }

}